
@{
    ViewBag.Title = "ListOfBlogs";
}
<h1>ListOfBlogs</h1><hr />

<main>
    @*<section class="row" aria-labelledby="aspnetTitle">
        
        <br /><br /><br /><br /><br />
       
    </section>*@

    <div class="row">

        <section class="col-md-6" aria-labelledby="gettingStartedTitle">

            <p>
                <br />


                Title:<strong>ASP.NET MVC-By smruthi@gmail.com</strong> <br />
                BlogId: <strong>101</strong><br />
                subject:<strong>ASP.NET</strong><br />
                empEmailId:<strong>1</strong><br />
                dateOfCreation:<strong>18-08-2023</strong><br />
                BlogUrl:
                <a href="https://devblogs.microsoft.com/dotnet/category/aspnet/" class="btn btn-primary btn-md">
                    https://devblogs.microsoft.com/dotnet/category/aspnet/ &raquo;
                </a>

            </p>
        </section>@*&nbsp;*@


        <section class="col-md-6" aria-labelledby="librariesTitle">
            <p>
                <br />
                Title:<strong>MS-SQL Server-By sangeetha@gmail.com</strong><br />
                BlogId:<strong>107</strong><br />
                subject:<strong>RDBMS</strong><br />
                empEmailId:<strong>5</strong><br />
                dateOfCreation:<strong>19-09-2023</strong><br />
                BlogUrl:
                <a href="https://cloudblogs.microsoft.com/sqlserver/" class="btn btn-primary btn-md">
                    https://cloudblogs.microsoft.com/sqlserver/ &raquo;
                </a>
            </p>
        </section>
        <br /><br />
        <section class="col-md-6" aria-labelledby="librariesTitle">
            <p>
                <br />
                <br />
                Title:<strong>MS-Azure By tejaswini@gmail.com</strong><br />
                BlogId:<strong>115</strong><br />
                subject:<strong>Cloud Computing</strong><br />
                empEmailId:<strong>17</strong><br />
                dateOfCreation:<strong>21-10-2023</strong><br />
                BlogUrl:
                <a href="https://azure.microsoft.com/en-in/blog/" class="btn btn-primary btn-md">
                    https://azure.microsoft.com/en-in/blog/ &raquo;
                </a>
            </p>
        </section>
        <section class="col-md-6" aria-labelledby="librariesTitle">
            <p>
                <br />
                <br />
                Title:<strong>Asp.Net Web Api-By pavitra@gmail.com</strong><br />
                BlogId:<strong>121</strong><br />
                subject:<strong>MS.Net</strong><br />
                empEmailId:<strong>21</strong><br />
                dateOfCreation:<strong>30-12-2023</strong><br />
                BlogUrl:
               <a href="https://devblogs.microsoft.com/dotnet/tag/asp-net-web-api/" class="btn btn-primary btn-md">
                https://devblogs.microsoft.com/dotnet/tag/asp-net-web-api/ &raquo; </a>
            </p>
        </section>
    </div>
</main>






