
@{
    ViewBag.Title = "BlogList";
}

<h1>Blog List For:smruthi@gmail.com</h1>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Add New" class="btn btn-primary btn-md" />
    </div><br /><br />
    <p>
        Title:<strong>ASP.NET MVC-By smruthi@gmail.com</strong> <br />
        BlogId: <strong>101</strong><br />
        subject:<strong>ASP.NET</strong><br />
        empEmailId:<strong>1</strong><br />
        dateOfCreation:<strong>18-08-2023</strong><br />
        BlogUrl:
        <a href="https://devblogs.microsoft.com/dotnet/category/aspnet/" class="btn btn-primary btn-md">
            https://devblogs.microsoft.com/dotnet/category/aspnet/ &raquo;
        </a>
    </p>
    <input type="submit" value="Delete" class="btn btn-primary btn-md" />  &nbsp;       <input type="submit" value="Edit" class="btn btn-primary btn-md" />

